html {
	position: relative;
	min-height: 100%;
}

body {
	text-align: center;
	margin: 0;
}
a {
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	color: #d89862;
	font-weight: 600;
	font-size: :16px;
	margin-right: 20px;
	margin-left: 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: #5c5d60;
	font-size: 45px;
	font-weight:400;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: #5c5d60;
	font-weight: 600;
	font-size: :20px;
}

p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: :18px;
}

header {
	background-color: #F15B31;
	color: white;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}

main {
	width: 850px;
	margin: 35px auto;
}

img {
	margin: 40px 8px;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-transform: uppercase;
	padding: 0 20;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font-family: "Raleway";
	float: left;
	padding-left: 5px;
}

.message {
	font-family: "Raleway";
	float: right;
	padding-right: 5px;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}

.locked {
	opacity: 50%;
}